.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  height: 9%;
  background: #565656;
  // background: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
  // transition: background 0.3s ease, height 0.3s ease;

  // &.scrolled {
  //   height: 9%;
  //   background: #565656;
  // }
}

.header-container {
  align-items: center;

}

.logo {
  display: flex;
  align-items: center;
  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.container__login-signup {
  display: flex;
  align-items: center;
  justify-content: end;
}


.container__login-signup-login-btn {
  width: 72px;
  height: 32px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: transparent;

  span {
    font-weight: 400;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.container__login-signup-signup-btn {
  width: 72px;
  height: 32px;
  font-size: 1.2rem;
  margin-left: 5px;
  color: var(--white);
  background-color: transparent;
  border: 1px solid #60ad56;

  &:hover {
    cursor: pointer;
    background-color: #60ad56;
  }
}

.user-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.container__bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-top: 5px;

  i {
    font-size: 24px;
    color: #ffffff;
  }
}

.container__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  i {
    font-size: 24px;
    color: #ffffff;
  }


}

.profile-container {
  position: relative;
}

.container__login-user {
  cursor: pointer;

  .container__login-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #1877f2;
    box-shadow: 0 2px 20px rgba(79, 80, 83, 0.5); /* Hiệu ứng nổi */
  }
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  right: -100px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 15px;
  z-index: 100;
  animation: fadeIn 0.3s ease;

  .user-info {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: #fdfcfc;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);

    .avatar-container {
      position: relative;

      .dropdown-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #1877f2;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover {
          box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
          transform: scale(1.1);
        }
      }

      .active-status {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 12px;
        height: 12px;
        background-color: #4CAF50; /* Màu xanh lục */
        border: 2px solid #fff; /* Viền trắng */
        border-radius: 50%; /* Chấm tròn */
      }
    }

    .user-details {
      margin-left: 10px;

      .user-name {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }

      .profile-link {
        font-size: 14px;
        color: #1877f2;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-top: 5px;

        i {
          margin-right: 5px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .menu-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;

    li {
      padding: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        background-color: #f0f0f0;
      }

      i {
        margin-right: 10px;
        margin-left: 5px;
        font-size: 18px;
      }
    }
  }
}

.container__bookmark,
.container__cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
