
.wrapper {
  background: #565656;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
  font-size: small;
  .container {
    display: flex;
    justify-content: space-between;
  }

  .container__content {
    //margin-bottom: 20px;
    color: var(--white);

    &-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px;
    }

    &-link {
      display: flex;
      flex-direction: column;
      gap: 10px;


      &-icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        fill: #007bff;
        transition: fill 0.3s ease;

        &:hover {
          fill: #0056b3;
        }
      }

      &-label {
        font-size: 14px;
        color: var(--white);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
}
